<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <section class="user-section">
                <h2><%= "Name: #{@user.name}" %>
                    <% if @user == current_user %>
                    <%= link_to  "Edit profile", edit_user_registration_path, class:"btn btn-secondary" %>
                    <% end %>
                    <% if @user != current_user %>
                    <% if current_user.friend?(@user) %>
                    <em class='text-primary'>You're friends</em>
                    <% elsif current_user.pending_friends.include?(@user) %>
                    <em class='text-danger'> Pending request </em>
                    <% elsif current_user.friend_requests.include?(@user) %>
                    <%= link_to 'Confirm friend', recieverequest_path(@user), method: 'post', class: 'btn btn-success' %>
                    <% elsif !current_user.friend?(@user) %>
                    <%= link_to 'Add friend', sendrequest_path(@user.id), method: 'post', class: 'btn btn-success' %>
                    <% end %>
                    <span>
                        <% if !current_user.friend?(@user) %>
                        <%= link_to 'Add friend', sendrequest_path(@user.id), method: 'post', class: 'btn btn-success' %>
                        <% end %>
                    </span>
                    <% end %>
                </h2>
                <article class="timeline">
                    <h3>Recent posts:</h3>
                    <ul class="posts">
                        <%= render @posts %>
                    </ul>
                </article>
            </section>
        </div>
        <div class="col-lg-4 center fixed">
            <div class="card friends">
                <div class="card-heading">
                    <h6 class="card-title">
                        My Friends(<%= @friends.count %>)
                    </h6>
                </div>
                <div class="card-body friend">
                    <ul class="list-inline">
                        <% @users.each do |user| %>
                        <% if current_user.friend?(user) %>
                        <li class="list-inline-item"><a href="<%= user_path(user)%>"><%= image_tag user.image.url, class: "img-thumbnail img-fluid" %></a></li>
                        <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>