<div class="card-body">

    <div class="row">
        <div class="col">
            <div class="bg-white p-3">
                <div class="profile">
                    <%=  image_tag post.user.image.thumb.url, class: " profile-pic " %>
                    <%= link_to post.user.name, user_path(post.user), class: 'post-author' %>
                    <small class="text-muted">
                        <%= time_ago_in_words post.created_at %>
                    </small>
                </div>

                <p><%= post.content %></p>
                <%= image_tag  post.image.url, class: "img-fluid" %>

                <div class="text-center my-2">
                    <%= like_or_dislike_btn(post) %>
                </div>

                <% post.comments.each do |comment| %>
                <div class="post-comments  mb-2">
                    <div class="row">
                        <div class="col-1">
                            <%=  image_tag comment.user.image.thumb.url, class: " profile-pic " %>
                        </div>
                        <div class="col-11 comment-bg">
                            <b><%= link_to comment.user.name, user_path(comment.user) %>:</b> <%= comment.content %><br>
                            <small> <%= comment.created_at.strftime("%Y/%m/%d") %> </small>
                        </div>
                    </div>
                </div>
                <% end %>
                <div class="comment">
                    <%= form_for(post.comments.new, url: post_comments_path(post)) do |form| %>
                    <%= form.text_area :content, id: :comment_content, class: 'form-control comment', placeholder: 'Add new Comment' %>
                    <%= form.submit 'Comment', class: 'btn btn-secondary form-control my-1' %>
                    <% end %>
                </div>
            </div>
        </div>

    </div>


</div>